input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App {
  text-align: center;
}

.main {
  margin-bottom: 10px;
}

.centeredDiv {
  display: inline-flex;
}